#map_canvas {
  height: 1000px;
}

.wrapper {
  height: 160px;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.85);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
}

.column {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  padding: 15px;
}

.column:first-child {
  border-right: 1px solid white;
}

.column:last-child {
  overflow: scroll;
  min-width: 400px;
}
